* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.wrapper {
    width: 670px;
    height: 470px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 5px 50px #0000001d;
}




.left {
    background-image: linear-gradient(#6743FF 10%, #312BEC);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    /* padding-inline: 20px; */
}

.left .heading-1 {
    font-size: 1.35rem;
    font-weight: 500;
    color: #ffffffb2;
}

.left .circle {
    padding: 40px;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 40px 80px #0000003a inset;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

.left .circle h1 {
    font-size: 4rem;
    color: #fff;
}

.left .circle span {
    color: #ffffff71;
}

.left .heading-2 {
    font-size: 1.75rem;
    color: #fffffff0;
}

.left .text {
    width: 70%;
    color: #ffffffaf;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.right .heading-1 {
    font-size: 1.25rem;
    font-weight: 600;
    padding-inline: 20px;
}

.row-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.right .rows {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    padding: 15px;
    border-radius: 10px;
}

.right .rows::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* opacity: 0.5; */
    /* z-index: -1; */
    transition: 500ms;
}

.right .row-1::before {
    background-color: #f9e7e5;
}

.right .row-1:hover::before {
    width: 80%;
}

.right .row-2::before {
    background-color: #ffcb76;
    opacity: 0.2;
}

.right .row-2:hover::before {
    width: 92%;
}

.right .row-3::before {
    background-color: #ddf5f5;
}

.right .row-3:hover::before {
    width: 61%;
}

.right .row-4::before {
    background-color: #e0e0fa;
}

.right .row-4:hover::before {
    width: 72%;
}

.right .rows .row-left {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    z-index: 2;
}

.right .rows:first-child {
    background-color: #fff6f5;
}

.right .rows:first-child .row-left {
    color: #d96765e5;
}

.right .rows:nth-child(2) {
    background-color: #FFFAF3;
}

.right .rows:nth-child(2) .row-left {
    color: #ECB64D;
}

.right .rows:nth-child(3) {
    background-color: #F2FAFA;
}

.right .rows:nth-child(3) .row-left {
    color: #37A989;
}

.right .rows:last-child {
    background-color: #F3F3FD;
}

.right .rows:last-child .row-left {
    color: #333693b0;
}

.right .stat {
    z-index: 4;
}

.right .stat span {
    font-weight: 500;
}

.right .stat span:last-child {
    color: #0000005d;
}


.right .btn {
    background-color: #303B59;
    color: #fff;
    width: 75%;
    text-align: center;
    margin-inline: auto;
    border-radius: 30px;
    padding-block: 15px;
    transition: 500ms;
    cursor: pointer;
}

.right .btn:hover {
    background-color: #303b59d8;
}
@media (max-width: 705px) {
    section {
        height: auto;
    }
    .wrapper {
        flex-direction: column;
        width: 335px;
        height: 800px;
        
    }
    .left {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .left .heading-1 {
        font-size: 1.35rem;
        font-weight: 500;
        color: #ffffffb2;
    }

    .left .circle {
        padding: 25px;
        aspect-ratio: 1 / 1;
        box-shadow: 0px 40px 80px #0000003a inset;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
    }

    .left .circle h1 {
        font-size: 2rem;
        color: #fff;
    }

    .left .circle span {
        color: #ffffff71;
    }

    .left .heading-2 {
        font-size: 1.25rem;
        color: #fffffff0;
    }

    .left .text {
        width: 80%;
        color: #ffffffaf;
    }
}